@use "../reset/variables" as var;
@use "../reset/mixins" as mx;

.home {
  h2 {
    margin: 3.5rem 0 1.5rem;
  }

  .about {
    @include mx.flex($dir: column);
    max-width: 1080px;
    margin: 0 auto;
    padding: 64px;

    .about-body {
      @include mx.flex($justify: space-between);
      font-size: var.$fs-text;
      margin-top: 64px;
      height: 400px;

      img {
        width: 45%;
        height: 100%;
      }

      div {
        flex-basis: 50%;
        @include mx.flex(
          $dir: column,
          $justify: space-around,
          $align: flex-start
        );

        p {
          width: 85%;
          line-height: 1.6;
        }

        a {
          color: var.$primary-200;
          margin: 1rem 0;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .implementation {
    @include mx.flex($dir: column);
    max-width: 1080px;
    margin: 0 auto;

    h2 {
      max-width: 880px;
      text-align: center;
    }

    .implementation-body {
      font-size: var.$fs-text;
      @include mx.flex($justify: space-between);
      align-content: stretch;
      padding-top: 64px;
    }
  }

  .map {
    @include mx.flex($dir: column);
    padding: 128px 256px;
  }

  .reports {
    @include mx.flex($dir: column, $align: center);
    max-width: 1080px;
    margin: 0 auto;
    font-size: var.$fs-text;

    .reports-body {
      @include mx.flex($justify: space-around);
      margin-top: 16px;
    }
  }

  @include mx.mobile {
    .about {
      padding: 32px;
      .about-body {
        @include mx.flex($dir: column);
        height: fit-content;
        margin-top: 32px;

        img {
          width: 100%;
          height: 100%;
        }

        div {
          margin-top: 32px;
          p {
            font-size: var.$small;
            width: 100%;
            margin-bottom: 16px;
          }
        }
      }
    }

    .implementation {
      padding: 32px;
      .implementation-body {
        @include mx.flex($dir: column);
        gap: 32px;
        padding-top: 32px;
      }
    }

    .map {
      padding: 64px 32px;
      width: 100vw;
      overflow: hidden;

      .leaflet-container {
        width: 360px;
      }
    }

    .reports {
      padding: 32px;
      .reports-body {
        @include mx.flex($dir: column);
        margin-top: 32px;
        font-size: var.$small;
      }
    }
  }

  @include mx.desktop {
    h2 {
      font-size: var.$fs-h5;
    }
    .about {
      .about-body {
        margin-top: 0;
        justify-content: space-around;
        img {
          width: 35%;
          height: 70%;
        }
        div {
          p {
            font-size: var.$small;
          }
        }
        a {
          font-size: var.$small;
        }
      }
    }

    .implementation {
      .implementation-body {
        padding-top: 32px;
      }
    }
  }
}

.leaflet-container {
  height: 60vh;
  width: 1080px;
}

.leaflet-pane {
  z-index: 0;
}
