@use "../reset/variables" as var;
@use "../reset/mixins" as mx;

.impact {
  .articles {
    @include mx.flex($dir: column);
    max-width: 1080px;
    margin: 0 auto;
    padding: 64px;

    .article {
      @include mx.flex($justify: space-between);
      font-size: var.$fs-text;
      margin-top: 64px;
      height: 400px;

      .impact-art-img {
        height: 350px;
        width: 320px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .detail {
        flex-basis: 50%;
        height: 80%;
        @include mx.flex(
          $dir: column,
          $justify: space-around,
          $align: flex-start
        );

        h2 {
          font-size: var.$fs-h4;
        }
        p {
          margin: 1rem 0;
          line-height: 1.4;
          // display: -webkit-box;
          // -webkit-line-clamp: 5;
          // -webkit-box-orient: vertical;
          // overflow: hidden;
        }

        a {
          border-radius: 4px;
          border: none;
          padding: 8px 24px;
          background-color: var.$primary-200;
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }

  .more {
    max-width: 1080px;
    margin: 6rem auto;
    h2 {
      margin-top: 32px;
      text-align: center;
      font-size: var.$fs-h3;
    }

    ul {
      @include mx.flex($justify: space-between);
      max-width: 1080px;
      margin: 3rem auto 8rem;

      li {
        flex-basis: 23%;
        height: 300px;
        margin-top: 2rem;
        @include mx.flex($dir: column, $justify: flex-start);

        .more-pic {
          width: 210px;
          height: 200px;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
          }
        }
        h3 {
          text-align: center;
          flex-basis: 20%;
          margin-top: 1rem;
        }
        a {
          border-radius: 4px;
          border: none;
          padding: 8px 24px;
          background-color: var.$primary-200;
          color: #fff;
          font-weight: bold;
          margin-top: auto;
        }
      }
    }
  }

  .status {
    @include mx.flex($dir: column, $justify: space-around);
    max-width: 1080px;
    margin: 4rem auto;

    h2 {
      text-align: center;
      margin: 1rem 0;
      font-size: var.$fs-h3;
    }

    .stories {
      margin-top: 3rem;
    }
  }

  .slider-images {
    @include mx.flex($justify: space-between);
    max-width: 1080px;
    margin: 6rem auto;

    div {
      width: 220px;
      height: 200px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  @include mx.mobile {
    .articles {
      padding: 32px;
      max-width: 400px;

      .article {
        @include mx.flex($dir: column);
        margin-top: 32px;
        height: auto;

        button {
          font-size: var.$small;
        }

        img {
          width: 100%;
        }

        div {
          flex-basis: 100%;
          height: auto;
          margin-top: 16px;

          p {
            font-size: var.$small;
            margin: 1rem 0;
          }
        }
      }
    }

    .more {
      max-width: 400px;
      h2 {
        margin-top: 32px;
        font-size: var.$fs-h3;
        padding: 0 1rem;
      }

      ul {
        @include mx.flex($dir: column, $justify: flex-start);
        max-width: 400px;
        margin: 0 auto;

        li {
          width: 400px;
          margin-top: 2rem;
          @include mx.flex($dir: column, $justify: space-around);
          cursor: pointer;

          h3 {
            width: 75%;
          }

          .more-pic {
            width: 300px;
            height: 250px;
          }
        }
      }
    }

    .status {
      margin: 0 2rem;
      font-size: var.$small;
      max-width: 400px;
      h2 {
        margin: 3rem 0;
        font-size: var.$fs-h3;
      }
    }
  }

  @include mx.desktop {
    .articles {
      max-width: 900px;
      .article {
        div {
          font-size: var.$small;
        }
      }
    }

    .more {
      ul {
        max-width: 900px;
        li {
          img {
            height: 60%;
          }
          h3 {
            font-size: var.$fs-text;
          }
          a {
            font-size: var.$small;
          }
        }
      }
    }

    .status {
      max-width: 900px;
      margin-top: 3rem;
      h2 {
        font-size: var.$fs-h3;
      }
      p {
        font-size: var.$fs-text;
      }
    }
  }
}

.impact-detail {
  p {
    max-width: 1080px;
    margin: 5rem auto;

    @include mx.mobile {
      padding: 2rem;
    }
  }
}
