@use "../reset/variables" as var;
@use "../reset/mixins" as mx;

.publication {
  .pub {
    @include mx.flex($dir: column);
    max-width: 1080px;
    margin: 0 auto;
    padding: 32px;

    ul {
      @include mx.flex($justify: space-between);

      li {
        @include mx.flex($justify: flex-start, $align: flex-start);
        flex-basis: 29%;
        font-size: var.$fs-text;
        margin-top: 48px;
        height: 500px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 0.5rem;

        h3 {
          margin-top: 0.4rem;
          display: -webkit-box;
          -webkit-line-clamp: 1; /* Number of lines to show */
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        p {
          margin-top: 0.4rem;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* Number of lines to show */
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        img {
          width: 100%;
          height: 60%;
        }

        a {
          margin-top: 8px;
          height: 40px;
          border: none;
          background: none;
          color: var.$primary-200;
          font-size: var.$fs-text;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .slider {
    max-width: 1080px;
    margin: 0 auto;
  }

  .news {
    @include mx.flex($dir: column);
    max-width: 1080px;
    margin: 0 auto;
    padding: 64px;
  }

  @include mx.mobile {
    .pub {
      ul {
        @include mx.flex($dir: column, $justify: space-around);
        gap: 2rem;

        li {
          font-size: var.$small;
          gap: 16px;
        }
      }
    }
  }

  @include mx.desktop {
    .pub {
      max-width: 900px;
      ul {
        li {
          font-size: var.$small;

          img {
            height: 70%;
          }

          button {
            font-size: var.$small;
          }
        }
      }
    }
  }
}
