@mixin flex($dir: row wrap, $align: center, $justify: center) {
  display: flex;
  flex-flow: $dir;
  align-items: $align;
  justify-content: $justify;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$largeDesktop: 1369px;

@mixin mobile {
  @media screen and (max-width: #{$mobile - 1}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$mobile}) and (max-width: #{$tablet - 1}) {
    @content;
  }
}

@mixin tablet-and-up {
  @media screen and (min-width: #{$mobile}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop}) and (max-width: #{$largeDesktop}) {
    @content;
  }
}

@mixin desktop-and-up {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin large-desktop {
  @media screen and (min-width: #{$desktop}) and (max-width: #{$largeDesktop - 1}) {
    @content;
  }
}

@mixin large-desktop-and-up {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}
