@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

//colors

$primary-100: #48c73d;
$primary-200: #f58b0e;
$primary-300: #ffffff;
$accent-100: #d6c6e1;
$accent-200: #9a73b5;
$text-100: #4a4a4a;
$text-200: #878787;
$bg-100: #f5f3f7;
$bg-200: #e9e4ed;
$bg-300: #ffffff;

//fonts
$ff-primary: ("Inter", sans-serif);
$ff-heading: serif;

$fw-text: 600;
$fw-small: 500;
$fw-title: 700;

//font-scale
$small: 0.833rem;
$fs-text: 1rem;
$fs-h6: 1.2rem;
$fs-h5: 1.44rem;
$fs-h4: 1.728rem;
$fs-h3: 2.074rem;
$fs-h2: 2.488rem;
$fs-h1: 2.986rem;

//line height
$lh-default: 1.5;
$lh-title: 1.1;

//classes
.btn-primary {
  color: $primary-300;
  background-color: $primary-200;
  padding: 10px 30px;
  text-align: center;
  font-size: $fs-h6;
  font-weight: $fw-small;
  border: none;
}

.btn-two {
  width: 100%;
  padding: 0.5rem;
  color: $bg-300;
  background-color: $primary-200;
  border: none;
}

.btn-3 {
  width: 100%;
  padding: 0.5rem;
  color: $text-100;
  border: 1px solid $text-100;
}
.title {
  font-size: $fs-h1;
  color: $primary-200;
}
